@font-face {
font-family: "Roboto_Regular";
  src: url(../fonts/Roboto-Regular.ttf);
}

:root {
  --color1: #3C3C3C; /* OCUPADO */
  --color2: rgb(100, 100, 100);
  --color3: rgb(255, 255, 255);
  --color4: #3C3C3C;
  --color5: #efefef;

}

.bg-color1{
  background-color: var(--color1);
}

.bg-color2{
  background-color: var(--color2);
}

.text-color1{
  color: var(--color1);
}

.text-color2{
  color: var(--color2);
}

.text-color3{
  color: var(--color3);
}

/* Classes modificades sobre bootstrap */

.navbar-dark .navbar-nav .nav-link{
  color: var(--color3);
}

.navbar-dark .navbar-nav .nav-link:hover{
  color: #A7A7A7;
}

.navbar-dark .navbar-nav .nav-link:active{
  color: var(--color3);
}

.btn-danger{
  
}

.btn-danger:hover{
  
}

.btn-outline-primary{
  
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary.dropdown-toggle.show{
  
}

.btn-primary{
  
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.dropdown-toggle.show{
  
}

/* CSS PERSONALIZADO */

body {
  font-family: "Roboto_Regular";
  background-color: #171717;  
}

.separacion {
  margin-right: 50px;
}

#banner {
  background: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: 15px;
}

.formato-texto {
  float: left;
  margin-left: 65%;
  margin-top: 50px;
}

.tituloBanner1 {
  font-size: 25px;
}



#seccion1 {
  background: url("../img/seccion1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: 15px;
}

#seccion2 {
  background: url("../img/seccion2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

#seccion3 {
  background: url("../img/seccion3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.capaoscuraBanner1, .capaoscuraSeccion1 {
  background: rgb(31, 31, 31, 0.7);
  height: 275px;
}

.capaoscuraSeccion2, .capaoscuraSeccion3 {
  background: rgb(31, 31, 31, 0.7);
  height: 175px;
}

.formato-texto-seccion1 {
  float: left;
  margin-left: 15%;
  margin-top: 30px;
}

.tituloSeccion1 {
  font-size: 30px;
}

.crearApuesta {
  background-color: #00B9FF;
  border-radius: 2.5px;
  border: 0px;
  color: white;
  padding: 7.5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 35px;
  float: right;
  margin-right: 175px;
}

.crearApuesta:hover{
  background-color: #356F86;
}

.escudo {
  width: 25px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.crearApuesta {
  background-color: #00B9FF;
  border-radius: 2.5px;
  border: 0px;
  color: white;
  padding: 7.5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 35px;
  float: right;
  margin-right: 175px;
}

.crearApuesta:hover{
  background-color: #356F86;
}

.botonSeleccion1, .botonSeleccion2 {
  background-color: #00B9FF;
  border-radius: 2.5px;
  border: 0px;
  color: white;
  padding: 7.5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 35px;
  float: right;
  margin-right: 50px;
}

.botonSeleccion1:hover, .botonSeleccion2:hover {
  background-color: #356F86;
}

.botonesSelecciones {
  margin-left: 275px;
  display: flex;
}

.textoSec2y3 {
  display: flex;
}

.seccion2, .seccion3 {
  margin-left: 20%;
}

.tituloIzquierda, .tituloDerecha {
  color: #00B9FF;
  text-align: center;
}

.textoIzquierda, .textoDerecha {
  color: white;
}

footer {
  background-color: #3C3C3C;
  margin-top: 30px;
  height: 150px;
  padding-top: 20px;
  display: flex;
}

.zonaFooterIzq {
  margin-left: 60px;
  margin-right: 20px;
}

.footerIzq1 {
  height: 20px;
  margin-bottom: 4px;
}

.footerIzq2 {
  height: 25px;
  margin-bottom: 4px;
}

.footerIzq3 {
  height: 11.6px;
  margin-bottom: 4px;
}

.footerIzq4, .footerIzq5, .footerIzq6 {
  height: 26px;
  margin-bottom: 4px;
}

.zonaFooterCentro {
  font-size: 12.5px;
  color: white;
  text-align: center;
}

.zonaFooterDer {
  margin-right: 60px;
  margin-left: 20px;
}

.footerDer1, .footerDer2 {
  height: 21.4px;
  margin-bottom: 4px;
}

.footerDer3 {
  height: 30px;
  margin-bottom: 4px;
}

.footerDer4 {
  height: 25px;
  margin-bottom: 4px;
}

.enlaces {
  margin-top: 8px;
  font-size: 12.5px;
  font-weight: bold;
}

.copyright {
  margin-top: 40px;
  font-size: 10px;
}


/* FINAL CSS PERSONALIZADO */

@media (max-width: 768px) {

  #banner {
    margin-bottom: 5px;
  }

  .tituloBanner1 {
    font-size: 20px;
  }

  .formato-texto {
    float: left;
    margin-left: 170px;
    margin-top: 10px;
    padding-top: 30px;
  }

  .capaoscuraBanner1 {
    height: 225px;
    margin-bottom: 10px;
  }

  .formato-texto-seccion1 {
    float: left;
    margin-left: 85px;
    margin-top: 0px;
    padding-top: 25px;
  }

  .capaoscuraSeccion1 {
    height: 200px;
    margin-bottom: 15px;
  }

  .crearApuesta {
    font-size: 15px;
    padding: 4px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin-top: 10px;
    float: right;
    margin-right: 35px;
  }



  .tituloSeccion1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .textoBanner1, .textoSeccion1 {
    font-size: 15px;
    margin-bottom: 15px;
  }
 
  .escudo {
    width: 20px;
    margin-right: 5px;
    margin-bottom: 0px;
  }

  .botonSeleccion1, .botonSeleccion2 {
    font-size: 15px;
    padding: 2px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin-top: 5px;
    margin-right: 20px;
  }

  .botonesSelecciones {
    margin-left: 115px;
  }

  #seccion1, #seccion2 {
    margin-bottom: 2px;
  }

  .capaoscuraSeccion2 {
    height: 150px;
    margin-bottom: 20px;
  }


  .seccion2, .seccion3 {
    margin-left: 0px;
  }

  .seccion2, .seccion3 {
    margin-bottom: 50px;
  }

  .textoSec2y3 {
    font-size: 15px;
    display: block;
    text-align: center;
  }

  .capaoscuraSeccion3 {
    background: rgb(31, 31, 31, 0.7);
    height: 150px;
  }

  footer {
    margin-top: 0px;
    height: 110px;
    padding-top: 5px;
    display: flex;
  }

  .zonaFooterIzq {
    display: none;
  }

  .zonaFooterCentro {
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .zonaFooterDer {
    display: none;
  }
  
  .enlaces {
    margin-top: 8px;
    font-size: 8px;
    font-weight: bold;
  }
  
  .copyright {
    margin-top: 20px;
    font-size: 10px;
  }

}









@media (max-width: 390px) {

}