@font-face {
font-family: "Roboto_Regular";
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto_BoldItalic";
    src: url(../fonts/Roboto-BlackItalic.ttf);
}

@font-face {
  font-family: "Roboto_Italic";
    src: url(../fonts/Roboto-Italic.ttf);
}

:root {
  --color1: #3C3C3C; /* OCUPADO */
  --color2: rgb(100, 100, 100);
  --color3: rgb(255, 255, 255);
  --color4: #3C3C3C;
  --color5: #efefef;

}

.bg-color1{
  background-color: var(--color1);
}

.bg-color2{
  background-color: var(--color2);
}

.text-color1{
  color: var(--color1);
}

.text-color2{
  color: var(--color2);
}

.text-color3{
  color: var(--color3);
}

/* Classes modificades sobre bootstrap */

.navbar-dark .navbar-nav .nav-link{
  color: var(--color3);
}

.navbar-dark .navbar-nav .nav-link:hover{
  color: #A7A7A7;
}

.navbar-dark .navbar-nav .nav-link:active{
  color: var(--color3);
}

.btn-danger{
  
}

.btn-danger:hover{
  
}

.btn-outline-primary{
  
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary.dropdown-toggle.show{
  
}

.btn-primary{
  
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.dropdown-toggle.show{
  
}

/* CSS PERSONALIZADO */

body {
  font-family: "Roboto_Regular";
  background-color: #171717;  
}

.separacion {
  margin-right: 50px;
}

#banner {
  background: url("../img/fondoEventosDestacados.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: 20px;
}

.capaoscuraBanner1 {
  background: rgb(31, 31, 31, 0.7);
  height: 275px;
}

.formato-texto {
  float: left;
  margin-top: 11%;
  margin-left: 17.5%;
  display: flex;
}

.tituloBanner1 {
  font-size: 30px;
  font-family: "Roboto_BoldItalic";
  color: #C2C2C2;
}

.crearApuesta {
  background-color: #00B9FF;
  border-radius: 2.5px;
  border: 0px;
  color: white;
  padding: 7.5px;
  padding-left: 15px;
  padding-right: 15px;
  float: right;
  margin-left: 800px;
}

.cruz {
  background-color: transparent;
  border: 0px;
  float: right; 
}

.formulario {
  margin-top: 30px;
  margin-bottom: 20px;
}

.bet {
  background-color: #00B9FF;
  border-radius: 2.5px;
  border: 0px;
  color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.bet:hover{
  background-color: #356F86;
}

.combinada-betnat {
  color: #00B9FF;
  font-family: "Roboto_BoldItalic";
  font-size: 20px;
}

table {
  border-collapse: collapse;
  width: 60%;
  height: 10%;
  background-color: white;
  margin-left: 20%;
  vertical-align: middle;
}
  
td, th {
  text-align: center;
  padding: 8px;
}

th {
  background-color: #356F85;
}

tr:nth-child(even) {
  background-color: #cdcdcd;
}

#seccion2 {
  background: url("../img/fondoEventosSeleccionados.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 55px;
}

.capaoscuraSeccion2 {
  background: rgb(31, 31, 31, 0.7);
  height: 275px;
}



































footer {
  background-color: #3C3C3C;
  height: 150px;
  padding-top: 20px;
  display: flex;
}

.zonaFooterIzq {
  margin-left: 60px;
  margin-right: 20px;
}

.footerIzq1 {
  height: 20px;
  margin-bottom: 4px;
}

.footerIzq2 {
  height: 25px;
  margin-bottom: 4px;
}

.footerIzq3 {
  height: 11.6px;
  margin-bottom: 4px;
}

.footerIzq4, .footerIzq5, .footerIzq6 {
  height: 26px;
  margin-bottom: 4px;
}

.zonaFooterCentro {
  font-size: 12.5px;
  color: white;
  text-align: center;
}

.zonaFooterDer {
  margin-right: 60px;
  margin-left: 20px;
}

.footerDer1, .footerDer2 {
  height: 21.4px;
  margin-bottom: 4px;
}

.footerDer3 {
  height: 30px;
  margin-bottom: 4px;
}

.footerDer4 {
  height: 25px;
  margin-bottom: 4px;
}

.enlaces {
  margin-top: 8px;
  font-size: 12.5px;
  font-weight: bold;
}

.copyright {
  margin-top: 40px;
  font-size: 10px;
}


/* FINAL CSS PERSONALIZADO */

@media (max-width: 768px) {

  #banner {
    margin-bottom: 5px;
  }

  .formato-texto {
    float: left;
    margin-left: 290px;
    margin-top: 10px;
  }
  

  .capaoscuraBanner1 {
    height: 125px;
    margin-bottom: 10px;
  }

  .capaoscuraSeccion1 {
    height: 107px;
    margin-bottom: 15px;
  }

  .crearApuesta {
    font-size: 10px;
    padding: 4px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin-top: 0px;
    float: right;
    margin-right: 35px;
  }

  .tituloBanner1 {
    font-size: 15px;
  }

  .tituloSeccion1 {
    font-size: 15px;
  }

  .textoBanner1, .textoSeccion1 {
    font-size: 10px;
  }

  .textoSeccion1 {
    font-size: 8px;
  }

  .formato-texto-seccion1 {
    float: left;
    margin-left: 75px;
    margin-top: 5px;
  }

  .escudo {
    width: 10px;
    margin-right: 5px;
    margin-bottom: 0px;
  }

  .botonSeleccion1, .botonSeleccion2 {
    font-size: 10px;
    padding: 2px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin-top: 0px;
    margin-right: 20px;
  }

  .botonesSelecciones {
    margin-left: 115px;
  }

  #seccion1, #seccion2 {
    margin-bottom: 2px;
  }

  .capaoscuraSeccion2 {
    height: 107px;
    margin-bottom: 20px;
  }

  .seccion2, .seccion3, .tituloIzquierda, .tituloDerecha {
    font-size: 8px;
  }

  .seccion2, .seccion3 {
    margin-left: 40px;
  }

  .capaoscuraSeccion3 {
    background: rgb(31, 31, 31, 0.7);
    height: 111.5px;
  }

  footer {
    margin-top: 36px;
    height: 100px;
    padding-top: 15px;
    display: flex;
  }

  .zonaFooterIzq {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .footerIzq1 {
    height: 10px;
    margin-bottom: 2px;
  }
  
  .footerIzq2 {
    height: 12.5px;
    margin-bottom: 2px;
  }
  
  .footerIzq3 {
    height: 5.8px;
    margin-bottom: 2px;
  }
  
  .footerIzq4, .footerIzq5, .footerIzq6 {
    height: 12px;
    margin-bottom: 2px;
  }
  
  .zonaFooterCentro {
    font-size: 6px;
    color: white;
    text-align: center;
  }
  
  .zonaFooterDer {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .footerDer1, .footerDer2 {
    height: 10px;
    margin-bottom: 2px;
  }
  
  .footerDer3 {
    height: 15px;
    margin-bottom: 2px;
  }
  
  .footerDer4 {
    height: 12.5px;
    margin-bottom: 2px;
  }
  
  .enlaces {
    margin-top: 8px;
    font-size: 6px;
    font-weight: bold;
  }
  
  .copyright {
    margin-top: 20px;
    font-size: 6px;
  }

}
